<%- include('partials/header', {title: 'Blog Home'}) %>

<div class="container">
  <section class="welcome-section">
    <h1 class="welcome-title">Welcome to Our Blog</h1>
    <p class="welcome-text">Explore our collection of posts from JSONPlaceholder API. Click below to start reading!</p>
    <a href="/post" class="btn">View All Posts</a>
  </section>
</div>

<%- include('partials/footer') %>